

.portfolio {
    background: var(--main-light-1);
    
}

.portfolio-content h2 {
    margin-bottom: 4rem;
}

.portfolio h2 span {
    color: var(--main-dark-1);

}


.portfolio-container {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    background: var(--secondary-bg-color);
    border-radius: 2rem;
    border: 0 0 1rem var(--main-color);
    overflow: hidden;
    display: flex;
    transition: 0.5s ease;
}

.portfolio-container .portfolio-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), var(--white-color));
}

.portfolio-box img {
    width: 100%;
    object-fit: cover;
}

