
.about {
    background: var(--main-light-2);
    color: var(--white-color);
}

.about-img img {
    width: 35vw;
}

.about-content {
    margin: 2rem;
}

.about-content h3 {
    font-size: 2.6rem;
    font-weight: 700;
}

.about-content h2 {
    color: var(--text-color);
    text-align: start;
}

.about-content p {
    color: var(--black-color);
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content h2 span {
    color: var(--main-dark-1);
}

