.header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    padding: 2rem 5%;
    background: var(--secondary-bg-color);
    z-index: 100;
}

#hamburger-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.my-logo {
    font-size: 2.7rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: default;
    margin: 2rem;
    text-decoration: underline;
}

.my-nav a {
    margin: 2rem;
    font-size: 1.7rem;
    color: var(--text-color);
    transition: 0.5s;
}

.my-nav .active-section {
    transition: width 0.2s ease; 
    color: var(--text-color);
    font-size: 2rem;
}

@media (max-width: 452px) {
    .my-nav a i span {
        display: none;
    }
}


