.footer {
    padding: 2rem 9%;
    background: var(--secondary-bg-color);
}

.footer-text  p {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    border: 0.8rem;
    background: var(--main-light-1);
    transition: 0.5s ease;
    border-radius: 50%;
}

.footer-icons a:hover{
    background: var(--main-dark-1);
}

.footer-icons a i{
    font-size: 2.4rem;
    color: var(--white-color);
}